---
import WPSLineChart from "../charts/WPSLineChart";
import Stats from "./Stats";
---

<div id="analytics-container">
    <div id="wps-line-chart-container">
        <WPSLineChart client:load />
    </div>
    <Stats client:load />
</div>
