:root {
  /* background */
  --bg-color: #221f22;
  --alt-bg-color: #2c2e31;
  
  /* primary colors */
  --main-color: #ffd866;
  --pipe-color: #fc9867;
  
  /* text colors */
  --text-color: #fcfcfa;
  --sub-text-color: #939293;
  --sub-alt-text-color: #5a5758;
  
  /* error colors */
  --error-color: #ff6188;
  --error-extra-color: #ff3864;
  --colorful-error-color: #ff6188;
  --colorful-error-extra-color: #ab3e5c;
  
  /* star rating colors */
  --star-white: #ffffff;
  --star-green: #10b981;
  --star-yellow: #fbbf24;
  --star-orange: #f97316;
  --star-red: #ef4444;
}