:root {
  /* background */
  --bg-color: #15161d;
  --alt-bg-color: #21222c;

  /* primary colors */
  --main-color: #ff8cd4;
  --pipe-color: #9ff5ff;
  
  /* text colors */
  --text-color: #f8f8f2;
  --sub-text-color: #6272a4;
  --sub-alt-text-color: #6272a4;
  
  /* error colors */
  --error-color: #ff5555;
  --error-extra-color: #ff79c6;
  --colorful-error-color: #ff5555;
  --colorful-error-extra-color: #bd93f9;
  
  /* success colors */
  --success-color: #50fa7b;
  --success-extra-color: #5af78e;
  
  /* star rating colors */
  --star-white: #f8f8f2;
  --star-green: #50fa7b;
  --star-yellow: #f1fa8c;
  --star-orange: #ffb86c;
  --star-red: #ff5555;
}