:root {
  /* background */
  --bg-color: #141414;
  --alt-bg-color: #1d1b1a;

  /* primary colors */
  --main-color: #ff9933;
  --pipe-color: #96b8ad;
  
  /* text colors */
  --text-color: #ebdbb2;
  --sub-text-color: #a89984;
  --sub-alt-text-color: #665c54;
  
  /* error colors */
  --error-color: #fb4934;
  --error-extra-color: #d65d0e;
  --colorful-error-color: #fb4934;
  --colorful-error-extra-color: #cc241d;
  
  /* star rating colors */
  --star-white: #ebdbb2;
  --star-green: #b8bb26;
  --star-yellow: #fabd2f;
  --star-orange: #fe8019;
  --star-red: #fb4934;
}