:root {
  /* background */
  --bg-color: #070810;
  --alt-bg-color: #0e1018;

  /* primary colors */
  --main-color: #d9a5ff;
  --pipe-color: #96bdff;
  
  /* text colors */
  --text-color: #a6accd;
  --sub-text-color: #717cb4;
  --sub-alt-text-color: #4a5168;
  
  /* error colors */
  --error-color: #ff5370;
  --error-extra-color: #f07178;
  --colorful-error-color: #ff5370;
  --colorful-error-extra-color: #c792ea;
  
  /* star rating colors */
  --star-white: #a6accd;
  --star-green: #c3e88d;
  --star-yellow: #ffcb6b;
  --star-orange: #f78c6c;
  --star-red: #ff5370;
}