:root {
  /* background */
  --bg-color: #1a181a;
  --alt-bg-color: #252325;

  /* primary colors */
  --main-color: #ffe680;
  --pipe-color: #8aeeff;
  
  /* text colors */
  --text-color: #fcfcfa;
  --sub-text-color: #939293;
  --sub-alt-text-color: #5a5758;
  
  /* error colors */
  --error-color: #ff6188;
  --error-extra-color: #fc9867;
  --colorful-error-color: #ff6188;
  --colorful-error-extra-color: #ab3e5c;
  
  /* star rating colors */
  --star-white: #fcfcfa;
  --star-green: #a9dc76;
  --star-yellow: #ffd866;
  --star-orange: #fc9867;
  --star-red: #ff6188;
}