:root {
  /* background */
  --bg-color: #0c0a12;
  --alt-bg-color: #15121f;

  /* primary colors */
  --main-color: #ffcfcc;
  --pipe-color: #d6baff;
  
  /* text colors */
  --text-color: #e0def4;
  --sub-text-color: #908caa;
  --sub-alt-text-color: #524f67;
  
  /* error colors */
  --error-color: #eb6f92;
  --error-extra-color: #ebbcba;
  --colorful-error-color: #eb6f92;
  --colorful-error-extra-color: #f6c177;
  
  /* star rating colors */
  --star-white: #e0def4;
  --star-green: #9ccfd8;
  --star-yellow: #f6c177;
  --star-orange: #ebbcba;
  --star-red: #eb6f92;
}