:root {
  /* background */
  --bg-color: #001419;
  --alt-bg-color: #032028;

  /* primary colors */
  --main-color: #9db30f;
  --pipe-color: #36c9b8;
  
  /* text colors */
  --text-color: #93a1a1;
  --sub-text-color: #657b83;
  --sub-alt-text-color: #2f4f5a;
  
  /* error colors */
  --error-color: #dc322f;
  --error-extra-color: #d33682;
  --colorful-error-color: #dc322f;
  --colorful-error-extra-color: #6c71c4;
  
  /* success colors */
  --success-color: #859900;
  --success-extra-color: #2aa198;
  
  /* star rating colors */
  --star-white: #93a1a1;
  --star-green: #859900;
  --star-yellow: #b58900;
  --star-orange: #cb4b16;
  --star-red: #dc322f;
}