---
import Navbar from "./common/Navbar";
import ReactLoaded from "./common/ReactLoaded";
import LiveUserCounter from "./LiveUserCounter";
---

<!-- <ReactLoaded client:only /> -->
<header>
    <div class="header-container gap-2 flex-wrap">
        <div id="logo" class="shrink-0">
            <a
                href="/"
                onclick="window.location.reload(); window.location.href='/';"
            >
                <h1 id="logo-text" class="bagel-fat-one-regular">Ninja Type</h1>
            </a>
        </div>
        <div>
            <Navbar client:load />
            <div style="position: fixed; bottom: 23px; left: 10px;">
                <LiveUserCounter client:load />
            </div>
        </div>
    </div>
</header>
<!-- <script src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"></script> -->
